@charset "UTF-8";

a {
  text-decoration: none;
}

h3,
h1 {
  font-family: 'Raleway';
}

p {
  font-family: 'Lato';
}

.white_container {
  background-color: #f2f2f2;
  width: 100%;
}

.header_contact:hover,
.mails_me a:hover {
  color: #333
}

/* HEADER */
.header_container {
  background-color: #fff;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  z-index: 9999;
}

.header_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_icon {
  padding: 15px 0;
  color: #4e4e4e;
  font-size: 30px;
}

.header_contact {
  background-color: #74cfae;
  color: #fff;
  padding: 14px 12px;
  font-size: 12px;
  transition: all .3s;
}

/* THEME */
.theme_container {
  padding-top: 60px;
}

.theme_inner {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 250px 0;
}

.theme {
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
}

.sub_theme {
  font-size: 30px;
  color: #c0c0c0;
  margin-top: 20px;
}

/* WHAT WE CAN DO */
.what_we_can_do_container {
  background-color: #74cfae;
  width: 100%;
  padding-top: 50px;
}

.what_we_can_do_inner {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.what_we_can_do_img img {
  vertical-align: bottom;
}

.what_we_can_do_theme {
  max-width: 647px;
  word-break: break-all;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

.what_we_can_do_theme h3 {
  font-size: 24px;
}

.what_we_can_do_theme p {
  margin-top: 35px;
  font-size: 20px;
  line-height: 25px;
}

/* OUR LATEST WORK */

.our_latest_work_inner {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 70px;
}

.our_latest_work_theme {
  font-size: 24px;
  color: #333;
}

.our_latest_work_imgs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 40px;
}

.our_latest_work_imgs a {
  display: block;
}

.our_latest_work_imgs img {
  width: 300px;
  opacity: .7;
  transition: all .3s;
  vertical-align: bottom
}

.our_latest_work_imgs img:hover {
  opacity: 1;
}

.our_latest_work_text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.our_latest_work_text p {
  max-width: 540px;
}

.mails_me a {
  font-size: 12px;
  padding: 14px 20px;
  background-color: #74cfae;
  color: #fff;
  transition: all .3s;
}

/* OUR SKILLS */
.our_skills_container {
  background-color: #4e4e4e;
  width: 100%;
}

.our_skills_inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 70px 0 100px 0;
}

.our_skill_theme {
  color: #fff;
  font-size: 20px;
}

.our_skills {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-top: 40px;
}

.our_skills div img {
  width: 140px;
}

.our_skills div {
  text-align: center;
}

.our_skills div:last-child {
  margin-right: 0;
}

.our_skills p {
  margin: 20px 0 0 0;
  font-size: 16px;
}

/* SNS */
.sns_inner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 200px 0;
}

.sns_icon a {
  width: 185px;
  text-align: center;
  transition: all .3s;
  padding: 30px 0;
  color: #74cfae;
  font-size: 40px;
}

.sns_icon a:hover {
  background-color: #fff;
}

/* FOOTRT */
.footer_container {
  background-color: #74cfae;
  width: 100%;
}

.footer_inner {
  text-align: right;
  padding: 20px 0 25px 0;
  color: #fff;
}


@media screen and (min-width:1200px) {
  .inner {
    width: 1100px;
    margin: 0 auto;
  }
  
  .hamburger {
    display: none;
  }

  .what_we_can_do_theme {
    padding-top: 30px;
  }
  
  /* OUR LATEST WORK */
  .our_latest_work_imgs li {
    margin-right: 100px;
    margin-top: 80px;
  }
  
  .our_latest_work_imgs li:nth-child(3n) {
    margin-right: 0;
  }
  
  .our_latest_work_imgs li:nth-child(-n+3) {
    margin-top: 0;
  }

  .our_latest_work_text {
    margin-top: 90px;
  }

  .our_latest_work_text p {
    margin-right: 90px;
  }

  /* OUR SKILLS */
  .our_skills div {
    margin-right: 180px;
    text-align: center;
  }
  
  .our_skills div:last-child {
    margin-right: 0;
  }
}

@media screen and ( max-width:1199px) {
  .inner {
    width: 97%;
    margin: 0 auto;
  }
  
  /* WHAT WE CAN DO */
  .what_we_can_do_inner {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
  }

  .what_we_can_do_img img {
    margin-bottom: 20px;
  }

  .what_we_can_do_theme {
    width: 80%;
  }

  /* OUR LATEST WORK */
  .our_latest_work_inner {
    padding-bottom: 84px;
  }

  .our_latest_work_imgs {
    flex-direction: column;
  }
  
  .our_latest_work_imgs li:nth-child(3n+1) {
    margin-top: 80px;
  }

  .our_latest_work_imgs li:first-child {
    margin-top: 0;
  }

  .our_latest_work_text {
    flex-direction: column;
    margin-top: 80px;
  }
  
  .our_latest_work_text p {
    width: 90%;
    padding-bottom: 54px;
  }

  /* OUR SKILLS */
  .our_skills_inner {
    padding-bottom: 88px;
  }

  .our_skills {
    flex-direction: column;
  }

  .our_skills div {
    margin-bottom: 88px;
  }

  .our_skills div:last-child {
    margin-bottom: 0;
  }
}
@media screen and (max-width:767px) {
  .header_contact {
    display:none;
  }

  .hamburger-menu {
    display: block;
  }

  .menu-btn {
    height: 25px;
    width: 40px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 4px;
    position: relative;
  }

  .menu-btn span,
  .menu-btn span:before,
  .menu-btn span:after {
      content: '';
      display: block;
      height: 3px;
      width: 30px;
      border-radius: 4px;
      background-color: #ddd;
      position: absolute;
  }
  
  .menu-btn span:before {
      bottom: 8px;
  }

  .menu-btn span:after {
      top: 8px;
  }

  .hamburger span {
    display : block;
    position: absolute;
    width   : 30px;
    height  : 2px;
    background : #555;
  }

  .hamburger span:nth-child(1) {
    top: 10px;
  }

  .hamburger span:nth-child(2) {
    top: 20px;
  }

  .hamburger span:nth-child(3) {
    top: 30px;
  }
  
  .header_contact::after {
    content: "";
    border: 1px solid #ddd;
  }
  
  /* THEME */
  .theme_inner {
    padding: 160px 0 130px 0;
    text-align: center;
  }
  
  .theme {
    font-size: 80px;
  }
  
  .sub_theme {
    margin-top: 20px;
  }

  /* SNS */
  .sns_inner {
    flex-direction: column;
    padding: 50px 15px;
  }

  .sns_icon li a {
    width: 100%;
  }

  .sns_icon li {
    width: 100%;
  }
}